*{
  margin: 0;
  padding: 0;
}
.body{
  margin: 0;
  padding: 0;
}
.flexrow{
  display: flex;
  flex-direction: row;
}
.flexcol{
  display: flex;
  flex-direction: column;
}
.center{
  align-items: center;
  justify-content: center;
}
.between{
  align-items: center;
  justify-content: space-between;
 
}
.pad20{
  padding: 20px;
}
.pad2030{
  padding: 20px 30px 20px 30px;

}
.w100{
  width: 100%;
}
.h100{
  height: 100%;
}
.butun{
  padding:10px 20px 10px 20px;
  background-color: yellowgreen;
  border-radius: 3px;

  color: white;
  font-size: 1.6rem;
}
.butundiv{
  width: 100%;
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,0);
}

.plusbtn{
padding: 0 15px 0 15px;

  font-size: 1.6rem;
}